body{
    font-family: "Open Sans",sans-serif ;
    text-align: center;
    margin: 0;
 }
h1{
    font-size: 3rem;
    margin-top: 2rem;
}
.dice{
    font-size: 7rem;
    margin: 5px;
}  
button{
    background-color: lightblue;
    color: black;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-color: aliceblue;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color .3s ease;
}
button:hover{
        background-color: blanchedalmond;
}
li{
    font-size: 1.5rem;
    padding: .5rem;
    margin: .5rem;
    background-color: azure;
    border-radius: .5rem;
    box-shadow: 0 2px 2px rgba(0,0,0, .2);
    display: flex;
    justify-content:space-between ;
    align-items: center;
}
li span{
    font-size: 3rem;
    margin-right: 1rem;
}